{# templates/portail/apropos.html.twig #}

{% extends 'portail/layout.html.twig' %}

{% block titre %}A Propos{% endblock %}

{% block page_content %}
  <section id="rs-breadcrumbs" class="sppb-section  rs-breadcrumbs" >
    <div class="sppb-row-container">
      <div class="sppb-section-title sppb-text-left">
        <h2 class="sppb-title-heading">A propos</h2>
      </div>
      <div class="sppb-row">
        <div class="sppb-col-md-12" id="column-wrap-id-1542861681322">
          <div id="column-id-1542861681322" class="sppb-column" >
            <div class="sppb-column-addons">
              <div id="sppb-addon-1542861681323" class="clearfix" >
                <div class="sppb-addon sppb-addon-module breadcrumbs-path">
                  <div class="sppb-addon-content">
                    <ol itemscope itemtype="https://schema.org/BreadcrumbList" class="breadcrumb">
                      <li class="float-left">
                        <span class="divider fa fa-location" aria-hidden="true"></span>
                      </li>
                      <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem" class="breadcrumb-item">
                        <a itemprop="item" href="{{ path('home') }}" class="pathway"><span itemprop="name">Accueil</span></a>
                        <meta itemprop="position" content="1">
                      </li>
                      <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem" class="breadcrumb-item active">
                        <span itemprop="name">A propos</span>
                        <meta itemprop="position" content="3">
                      </li>
                    </ol>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <section id="rs-accordion" class="sppb-section  rs-accordion sec-title-line" >
    <div class="sppb-row-overlay"></div>
    <div class="sppb-row-container">
      <div class="sppb-row">
        <div class="sppb-col-md-7" id="column-wrap-id-1542861681315">
          <div id="column-id-1542861681315" class="sppb-column" >
            <div class="sppb-column-addons">
              <div id="sppb-addon-1542861681293" class="clearfix" >
                <div class="sppb-addon sppb-addon-header under-sec sppb-text-left">
                  <h2 class="sppb-addon-title">A propos de NeoSys Technologie</h2>
                </div>
              </div>
              <div id="sppb-addon-1542861681296" class="clearfix" >
                <div class="sppb-addon sppb-addon-text-block 0  ">
                  <div class="sppb-addon-content">
                    <p>
                      NEOSYS TECHNOLOGIE est une SARL créée en 2013. NEOSYS TECHNOLOGIE développe une offre de services
                      intégrée et complète à forte valeur ajoutée. Il s’organise selon un seul métier :
                    </p>
                    <p>
                      <b>Solutions :</b> Le métier Solutions développe, conçoit et met en oeuvre des solutions sur mesure d’intégration 
                      des nouvelles technologies pour des sociétés des secteurs privé et public (ingénierie, architecture 
                      informatique, gestion de projets, développement logiciels, installations, formation et maintenance)
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <div class="sppb-col-md-5" id="column-wrap-id-1542861681317">
          <div id="column-id-1542861681317" class="sppb-column" >
            <div class="sppb-column-addons">
              <div id="sppb-addon-1542861681316" class="clearfix" >
                <div class="sppb-addon sppb-addon-accordion ">
                  <div class="sppb-addon-content">
                    <div class="sppb-panel-group">
                      <div class="sppb-panel sppb-panel-modern">
                        <div class="sppb-panel-heading active">
                          <span class="sppb-panel-title">Notre Histoire</span>
                          <span class="sppb-toggle-direction"><i class="fa fa-chevron-right"></i></span>
                        </div>
                        <div class="sppb-panel-collapse">
                          <div class="sppb-panel-body">
                            <div id="sppb-addon-1542274868998" class="clearfix" >
                              <div class="sppb-addon sppb-addon-text-block 0  accordion-txt">
                                <div class="sppb-addon-content">
                                    NeoSys Technologie est une société créée par trois jeunes gabonais passionnés 
                                    par les domaines du numérique.
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="sppb-panel sppb-panel-modern">
                        <div class="sppb-panel-heading">
                          <span class="sppb-panel-title">Notre Mission</span>
                          <span class="sppb-toggle-direction"><i class="fa fa-chevron-right"></i></span>
                        </div>
                        <div class="sppb-panel-collapse" style="display: none;">
                          <div class="sppb-panel-body">
                            <div id="sppb-addon-1542280861047" class="clearfix" >
                              <div class="sppb-addon sppb-addon-text-block 0  accordion-txt">
                                <div class="sppb-addon-content">
                                    Réaliser et proposer des services innovant et à forte valeur ajoutée.
                                </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="sppb-panel sppb-panel-modern">
                      <div class="sppb-panel-heading">
                        <span class="sppb-panel-title">Notre Vision</span>
                        <span class="sppb-toggle-direction"><i class="fa fa-chevron-right"></i></span>
                      </div>
                      <div class="sppb-panel-collapse" style="display: none;">
                        <div class="sppb-panel-body">
                          <div id="sppb-addon-1542280861479" class="clearfix" >
                            <div class="sppb-addon sppb-addon-text-block 0  accordion-txt">
                              <div class="sppb-addon-content">
                                  Se positionner comme la première entreprise IT Made In Gabon dans la sous-région.
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="section-id-1542861681303" class="sppb-section  why-choose-us sec-title-line" >
  <div class="sppb-row-overlay"></div>
  <div class="sppb-row-container">
    <div class="sppb-row">
      <div class="sppb-col-md-6" id="column-wrap-id-1542861681325">
        <div id="column-id-1542861681325" class="sppb-column video-section-area" >
          <div class="sppb-column-overlay"></div>
          <div class="sppb-column-addons">
            <div id="section-id-1542861681326" class="sppb-section  video-icon" >
              <div class="sppb-row-overlay"></div>
              <div class="sppb-container-inner">
                <div class="sppb-row">
                  <div class="sppb-col-md-12" id="column-wrap-id-1542861681327">
                    <div id="column-id-1542861681327" class="sppb-column" >
                      <div class="sppb-column-addons">
                        <div id="sppb-addon-1542861681328" class="clearfix" >
                          <div class="sppb-icon video-icon sppb-text-center sppb-icon-hover-effect-zoom-in">
                            <a  href="https://www.youtube.com/watch?v=X4TSIh3RGoM">
                              <span class="sppb-icon-inner"><i class="fa fa-play"></i></span>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="sppb-col-md-6" id="column-wrap-id-1542861681329">
        <div id="column-id-1542861681329" class="sppb-column" >
          <div class="sppb-column-addons">
            <div id="section-id-1542861681330" class="sppb-section  services-responsibiity" >
              <div class="sppb-row-overlay"></div>
              <div class="sppb-container-inner">
                <div class="sppb-row">
                  <div class="sppb-col-md-12" id="column-wrap-id-1542861681331">
                    <div id="column-id-1542861681331" class="sppb-column" >
                      <div class="sppb-column-addons">
                        <div id="sppb-addon-1542861681332" class="clearfix" >
                          <div class="sppb-addon sppb-addon-header under-sec sppb-text-left">
                            <h2 class="sppb-addon-title">Pourquoi Nous Choisir</h2>
                          </div>
                        </div>
                        <div id="sppb-addon-1542861681333" class="clearfix" >
                          <div class="sppb-addon sppb-addon-feature sppb-text-left services-desc">
                            <div class="sppb-addon-content sppb-text-left">
                              <div class="sppb-media">
                                <div class="pull-left">
                                  <div class="sppb-icon">
                                    <span class="sppb-icon-container">
                                      <i aria-hidden="true" aria-label="First Working Prosses" class="fa fa-opera"></i>
                                    </span>
                                  </div>
                                </div>
                                <div class="sppb-media-body">
                                  <div class="sppb-media-content">
                                    <h3 class="sppb-addon-title sppb-feature-box-title sppb-media-heading">
                                      <a href="#">First Working Prosses</a>
                                    </h3>
                                    <div class="sppb-addon-text">
                                      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div id="sppb-addon-1542861681334" class="clearfix" >
                          <div class="sppb-addon sppb-addon-feature sppb-text-left services-desc">
                            <div class="sppb-addon-content sppb-text-left">
                              <div class="sppb-media">
                                <div class="pull-left">
                                  <div class="sppb-icon">
                                    <span class="sppb-icon-container">
                                      <i aria-hidden="true" aria-label="Dedicate Team" class="fa fa-life-bouy"></i>
                                    </span>
                                  </div>
                                </div>
                                <div class="sppb-media-body">
                                  <div class="sppb-media-content">
                                    <h3 class="sppb-addon-title sppb-feature-box-title sppb-media-heading">
                                      <a href="#">Dedicate Team</a>
                                    </h3>
                                    <div class="sppb-addon-text">
                                      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div id="sppb-addon-1542861681335" class="clearfix" >
                          <div class="sppb-addon sppb-addon-feature sppb-text-left services-desc">
                            <div class="sppb-addon-content sppb-text-left">
                              <div class="sppb-media">
                                <div class="pull-left">
                                  <div class="sppb-icon">
                                    <span class="sppb-icon-container">
                                      <i aria-hidden="true" aria-label="24/7 Hours Support" class="fa fa-clock-o"></i>
                                    </span>
                                  </div>
                                </div>
                                <div class="sppb-media-body">
                                  <div class="sppb-media-content">
                                    <h3 class="sppb-addon-title sppb-feature-box-title sppb-media-heading">
                                      <a href="#">24/7 Hours Support</a>
                                    </h3>
                                    <div class="sppb-addon-text">
                                      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="section-id-1542861681306" class="sppb-section  rs-default-team" >
  <div class="sppb-row-overlay"></div>
  <div class="sppb-row-container">
    <div class="sppb-row">
      <div class="sppb-col-md-12" id="column-wrap-id-1542861681337">
        <div id="column-id-1542861681337" class="sppb-column" >
          <div class="sppb-column-addons">
            <div id="section-id-1542861681338" class="sppb-section  counter-top-area" >
              <div class="sppb-row-overlay"></div>
              <div class="sppb-container-inner">
                <div class="sppb-row">
                  <div class="sppb-col-md-3 sppb-col-sm-6" id="column-wrap-id-1542861681339">
                    <div id="column-id-1542861681339" class="sppb-column rs-counter-list" >
                      <div class="sppb-column-addons">
                        <div id="sppb-addon-1542861681340" class="clearfix" >
                          <div class="sppb-icon  sppb-text-center sppb-icon-hover-effect-zoom-in">
                            <a  href="#"><span class="sppb-icon-inner"><i class="fa fa-odnoklassniki"></i></span></a>
                          </div>
                        </div>
                        <div id="sppb-addon-1542861681341" class="clearfix" >
                          <div class="sppb-addon sppb-addon-animated-number sppb-text-center ">
                            <div class="sppb-addon-content">
                              <div class="sppb-animated-number" data-digit="21" data-duration="1000">0</div>
                              <div class="sppb-animated-number-title">Client Heureux</div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="sppb-col-md-3 sppb-col-sm-6" id="column-wrap-id-1542861681342">
                    <div id="column-id-1542861681342" class="sppb-column rs-counter-list" >
                      <div class="sppb-column-addons">
                        <div id="sppb-addon-1542861681343" class="clearfix" >
                          <div class="sppb-icon  sppb-text-center sppb-icon-hover-effect-zoom-in">
                            <a  href="#"><span class="sppb-icon-inner"><i class="fa fa-asl-interpreting"></i></span></a>
                          </div>
                        </div>
                        <div id="sppb-addon-1542861681344" class="clearfix" >
                          <div class="sppb-addon sppb-addon-animated-number sppb-text-center ">
                            <div class="sppb-addon-content">
                              <div class="sppb-animated-number" data-digit="5" data-duration="1000">0</div>
                              <div class="sppb-animated-number-title">Projet Réalisé</div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="sppb-col-md-3 sppb-col-sm-6" id="column-wrap-id-1542861681345">
                    <div id="column-id-1542861681345" class="sppb-column rs-counter-list" >
                      <div class="sppb-column-addons">
                        <div id="sppb-addon-1542861681346" class="clearfix" >
                          <div class="sppb-icon  sppb-text-center sppb-icon-hover-effect-zoom-in">
                            <a  href="#"><span class="sppb-icon-inner"><i class="fa fa-diamond"></i></span></a>
                          </div>
                        </div>
                        <div id="sppb-addon-1542861681347" class="clearfix" >
                          <div class="sppb-addon sppb-addon-animated-number sppb-text-center ">
                            <div class="sppb-addon-content">
                              <div class="sppb-animated-number" data-digit="0" data-duration="1000">0</div>
                              <div class="sppb-animated-number-title">Prix Gagné</div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="sppb-col-md-3 sppb-col-sm-6" id="column-wrap-id-1542861681348">
                    <div id="column-id-1542861681348" class="sppb-column rs-counter-list" >
                      <div class="sppb-column-addons">
                        <div id="sppb-addon-1542861681349" class="clearfix" >
                          <div class="sppb-icon  sppb-text-center sppb-icon-hover-effect-zoom-in">
                            <a  href="#"><span class="sppb-icon-inner"><i class="fa fa-paper-plane-o"></i></span></a>
                          </div>
                        </div>
                        <div id="sppb-addon-1542861681350" class="clearfix" >
                          <div class="sppb-addon sppb-addon-animated-number sppb-text-center ">
                            <div class="sppb-addon-content">
                              <div class="sppb-animated-number" data-digit="6" data-duration="1000">0</div>
                              <div class="sppb-animated-number-title">Année d'Expérience</div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div id="section-id-1542861681351" class="sppb-section  rs-team sec-title-line" >
              <div class="sppb-row-overlay"></div>
              <div class="sppb-container-inner">
                <div class="sppb-container">
                  <div class="sppb-section-title sppb-text-left">
                    <h2 class="sppb-title-heading">Notre Equipe D'Expert</h2>
                  </div>
                </div>
                <div class="sppb-row">
                  <div class="sppb-col-md-12" id="column-wrap-id-1542861681352">
                    <div id="column-id-1542861681352" class="sppb-column" >
                      <div class="sppb-column-addons">
                        <div id="sppb-addon-1542861681353" class="clearfix" >
                          <div class="sppb-addon sppb-addon-module home-team">
                            <div class="sppb-addon-content">
                              <div id="owl-demo" class="team-carousel owl-carousel owl-theme owl-navigation-yes">
                                <!-- Utilisateurs -->
                                {% for utilisateur in utilisateurs %}
                                <div class="item team-item">
                                  <div class="team-img">
                                    <a href="../component/keenteam/keenteam/149bc.html?Itemid=101">
                                      <img src="{{ asset('images/users/'~utilisateur.imageName|default('default.png')) }}" class="img_team">
                                    </a>
                                    <div class="team-social">
                                      <a href="{{utilisateur.facebook|default('#')}}" class="social-icon"><i class="fa fa-facebook"></i></a>
                                      <a href="{{utilisateur.twitter|default('#')}}" class="social-icon"><i class="fa fa-twitter"></i></a>
                                      <a href="{{utilisateur.googleplus|default('#')}}" class="social-icon"><i class="fa fa-google-plus"></i></a>
                                      <a href="{{utilisateur.linkedin|default('#')}}" class="social-icon"><i class="fa fa-linkedin"></i></a>
                                    </div>
                                  </div>
                                  <div class="fyl-caption">
                                    <h3 class="team-name">
                                      <a href="../component/keenteam/keenteam/149bc.html?Itemid=101">{{utilisateur.nom}} {{utilisateur.prenom}}</a>
                                    </h3>
                                    <span class="team-title">{{utilisateur.fonction}}</span><br/>
                                  </div>
                                  <div class="team-content">
                                    <div class="display-table">
                                      <div class="display-table-cell">
                                        <div class="social-icons">
                                            <a href="{{utilisateur.facebook|default('#')}}" class="social-icon"><i class="fa fa-facebook"></i></a>
                                            <a href="{{utilisateur.twitter|default('#')}}" class="social-icon"><i class="fa fa-twitter"></i></a>
                                            <a href="{{utilisateur.googleplus|default('#')}}" class="social-icon"><i class="fa fa-google-plus"></i></a>
                                            <a href="{{utilisateur.linkedin|default('#')}}" class="social-icon"><i class="fa fa-linkedin"></i></a>
                                        </div>
                                        <div class="bottom-content">
                                          <h4 class="team-name">
                                            <a href="../component/keenteam/keenteam/149bc.html?Itemid=101">{{utilisateur.nom}} {{utilisateur.prenom}}</a>
                                          </h4>
                                          <span class="team-title">{{utilisateur.fonction}}</span><br/>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                {% endfor %}
                                <!-- ./Utilisateur -->
                                  </div>
                                  <script>
                                  jQuery(document).ready(function($) {
                                  $("#owl-demo").owlCarousel({
                                  items:3,
                                  margin: 30,
                                  autoplay: 3000,
                                  loop: true,
                                  //responsive: true,
                                  nav: true,
                                  dots: false,
                                  navText: [
                                    "<i class='fa fa-angle-left'></i>",
                                    "<i class='fa fa-angle-right'></i>"
                                    ],
                                  responsiveClass:true,
                                      responsive:{
                                          0:{
                                              items:1
                                          },
                                          650:{
                                              items:2
                                          },
                                    991:{
                                              items:3
                                          },
                                          1200:{
                                              items:3
                                          }
                                      }
                                  });
                                  }); 
                                  </script>
                                  <style scoped="scoped">
                                    #owl-demo .item {
                                    border: 1px solid #cdcdcd;
                                    margin-right: 10px;
                                    position: relative;
                                    text-align:center;
                                    }
                                    #owl-demo .item .slider_content{
                                    padding:10px;
                                    }
                                  </style>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
<!-- PARTENAIRES -->
{{ render(controller(
  'App\\Controller\\PortailController::partenaires'
)) }}
<!-- ./PARTENAIRES-->

{% endblock %}