{# templates/portail/contact/index.html.twig #}

{% extends 'portail/layout.html.twig' %}

{% block titre %}NeoSys Technologie | Contacts{% endblock %}

{% block page_content %}
<section id="rs-breadcrumbs" class="sppb-section  rs-breadcrumbs" >
  <div class="sppb-row-container">
    <div class="sppb-section-title sppb-text-left">
      <h2 class="sppb-title-heading">Contacts</h2>
    </div>
    <div class="sppb-row">
      <div class="sppb-col-md-12" id="column-wrap-id-1542781410979">
        <div id="column-id-1542781410979" class="sppb-column" >
          <div class="sppb-column-addons">
            <div id="sppb-addon-1542781410980" class="clearfix" >
              <div class="sppb-addon sppb-addon-module breadcrumbs-path">
                <div class="sppb-addon-content">
                  <ol itemscope itemtype="https://schema.org/BreadcrumbList" class="breadcrumb">
                    <li class="float-left">
                      <span class="divider fa fa-location" aria-hidden="true"></span>
                    </li>
                    <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem" class="breadcrumb-item">
                      <a itemprop="item" href="{{ path('home') }}" class="pathway"><span itemprop="name">Accueil</span></a>
                      <meta itemprop="position" content="1">
                    </li>
                    <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem" class="breadcrumb-item active">
                      <span itemprop="name">Contacts</span>
                      <meta itemprop="position" content="3">
                    </li>
                  </ol>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="rs-contact" class="sppb-section  rs-contact-inner default-style" >
  <div class="sppb-row-overlay"></div>
  <div class="sppb-row-container">
    <div class="sppb-row">
      <div class="sppb-col-md-12" id="column-wrap-id-1542774876666">
        <div id="column-id-1542774876666" class="sppb-column" >
          <div class="sppb-column-addons">
            <div id="section-id-1542774876667" class="sppb-section  contact-top-part" >
              <div class="sppb-row-overlay"></div>
              <div class="sppb-container-inner">
                <div class="sppb-row">
                  <div class="sppb-col-md-3 sppb-col-sm-3 sppb-col-xs-6" id="column-wrap-id-1542774876668">
                    <div id="column-id-1542774876668" class="sppb-column" >
                      <div class="sppb-column-addons">
                        <div id="sppb-addon-1542774876669" class="clearfix" >
                          <div class="sppb-addon sppb-addon-feature  contact-feature">
                            <div class="sppb-addon-content sppb-text-center">
                              <div class="sppb-media">
                                <div class="pull-sppb-text-center">
                                  <div class="sppb-icon">
                                    <span class="sppb-icon-container">
                                      <i aria-hidden="true" aria-label="Call Us" class="fa fa-phone"></i>
                                    </span>
                                  </div>
                                </div>
                                <div class="sppb-media-body">
                                  <div class="sppb-media-content">
                                    <h4 class="sppb-addon-title sppb-feature-box-title">Appelez nous</h4>
                                    <div class="sppb-addon-text">
                                      <a href="tel:+(+088)589-8745">{{configuration.telephone}}</a>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="sppb-col-md-3 sppb-col-sm-3 sppb-col-xs-6" id="column-wrap-id-1542774876670">
                    <div id="column-id-1542774876670" class="sppb-column" >
                      <div class="sppb-column-addons">
                        <div id="sppb-addon-1542774876671" class="clearfix" >
                          <div class="sppb-addon sppb-addon-feature  contact-feature">
                            <div class="sppb-addon-content sppb-text-center">
                              <div class="sppb-media">
                                <div class="pull-sppb-text-center">
                                  <div class="sppb-icon">
                                    <span class="sppb-icon-container">
                                      <i aria-hidden="true" aria-label="Mail Us" class="fa fa-envelope-o"></i>
                                    </span>
                                  </div>
                                </div>
                                <div class="sppb-media-body">
                                  <div class="sppb-media-content">
                                    <h4 class="sppb-addon-title sppb-feature-box-title">Ecrivez nous</h4>
                                    <div class="sppb-addon-text">
                                      <a href="mailto:support@rstheme.com">{{configuration.email}}</a>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="sppb-col-md-3 sppb-col-sm-3 sppb-col-xs-6" id="column-wrap-id-1542774876672">
                    <div id="column-id-1542774876672" class="sppb-column" >
                      <div class="sppb-column-addons">
                        <div id="sppb-addon-1542774876673" class="clearfix" >
                          <div class="sppb-addon sppb-addon-feature  contact-feature">
                            <div class="sppb-addon-content sppb-text-center">
                              <div class="sppb-media">
                                <div class="pull-sppb-text-center">
                                  <div class="sppb-icon">
                                    <span class="sppb-icon-container">
                                      <i aria-hidden="true" aria-label="Fax" class="fa fa-fax"></i>
                                    </span>
                                  </div>
                                </div>
                                <div class="sppb-media-body">
                                  <div class="sppb-media-content">
                                    <h4 class="sppb-addon-title sppb-feature-box-title">Fax</h4>
                                    <div class="sppb-addon-text">{{configuration.telephone}}</div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="sppb-col-md-3 sppb-col-sm-3 sppb-col-xs-6" id="column-wrap-id-1542774876674">
                    <div id="column-id-1542774876674" class="sppb-column" >
                      <div class="sppb-column-addons">
                        <div id="sppb-addon-1542774876675" class="clearfix" >
                          <div class="sppb-addon sppb-addon-feature  contact-feature">
                            <div class="sppb-addon-content sppb-text-center">
                              <div class="sppb-media">
                                <div class="pull-sppb-text-center">
                                  <div class="sppb-icon">
                                    <span class="sppb-icon-container">
                                      <i aria-hidden="true" aria-label="Address" class="fa fa-map-marker"></i>
                                    </span>
                                  </div>
                                </div>
                                <div class="sppb-media-body">
                                  <div class="sppb-media-content">
                                    <h4 class="sppb-addon-title sppb-feature-box-title">Adresse</h4>
                                    <div class="sppb-addon-text">{{configuration.adresse}}</div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div id="section-id-1542774876676" class="sppb-section  contact-bottom-area" >
              <div class="sppb-row-overlay"></div>
              <div class="sppb-container-inner">
                <div class="sppb-row">
                  <div class="sppb-col-md-12" id="column-wrap-id-1542774876677">
                    <div id="column-id-1542774876677" class="sppb-column" >
                      <div class="sppb-column-addons">
                        <div id="sppb-addon-1542774876680" class="clearfix" >
                          <div class="sppb-addon sppb-addon-ajax-contact contact-form-area-inner">
                            <div class="sppb-ajax-contact-content">
                              <form class="sppb-ajaxt-contact-form">
                                <div class="sppb-row">
                                  <div class="sppb-form-group  sppb-col-sm-6">
                                    <input type="text" name="name" class="sppb-form-control" placeholder="Nom" required="required">
                                  </div>
                                  <div class="sppb-form-group  sppb-col-sm-6">
                                    <input type="email" name="email" class="sppb-form-control" placeholder="Email" required="required">
                                  </div>
                                  <div class="sppb-form-group  sppb-col-sm-6">
                                    <input type="text" name="phone" class="sppb-form-control" placeholder="Téléphone" required="required">
                                  </div>
                                  <div class="sppb-form-group  sppb-col-sm-6">
                                    <input type="text" name="subject" class="sppb-form-control" placeholder="Objet" required="required">
                                  </div>
                                  <div class="sppb-form-group  sppb-col-sm-12">
                                    <textarea name="message" rows="5" class="sppb-form-control" placeholder="Message" required="required"></textarea>
                                  </div>
                                </div>
                                <input type="hidden" name="recipient" value="ZW1haWxAeW91cmRvbWFpbi5jb20=">
                                <input type="hidden" name="from_email" value="">
                                <input type="hidden" name="from_name" value="">
                                <input type="hidden" name="captcha_type" value="default">
                                <div class="sppb-text-center">
                                  <button type="submit" id="btn-1542774876680" class="sppb-btn sppb-btn-success sppb-btn-rounded"><i class="fa"></i> Envoyer</button>
                                </div>
                              </form>
                              <div style="display:none;margin-top:10px;" class="sppb-ajax-contact-status"></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div id="section-id-1542774876663" class="sppb-section " >
  <div class="sppb-row-overlay"></div>
  <div class="sppb-container-inner">
    <div class="sppb-row sppb-no-gutter">
      <div class="sppb-col-md-12" id="column-wrap-id-1542774876662">
        <div id="column-id-1542774876662" class="sppb-column" >
          <div class="sppb-column-addons">
            <div id="sppb-addon-1542774876678" class="clearfix" >
              <div class="sppb-addon-openstreetmap-wrapper">
                <div class="sppb-addon-content">
                  <div id="sppb-addon-osm-1542774876678" class="sppb-addon-openstreetmap " data-location='[{"address":"Your Location","latitude":"23.778918","longitude":" 90.418378","custom_icon":""}]' data-mapstyle="Wikimedia" data-mapzoom="12" data-mousescroll="0" data-dragging="1" data-zoomcontrol="1" data-attribution="1"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}