<div id="sp-top-bar">
    <div class="container">
        <div class="container-inner">
            <div class="row">
                <div id="sp-top1" class="col-lg-8">
                    <div class="sp-column text-center text-lg-left">
                        <ul class="sp-contact-info">
                            <li class="sp-contact-email">
                                <span class="fa fa-envelope" aria-hidden="true"></span>
                                <a href="mailto:{{configuration.email}}">{{configuration.email}}</a>
                            </li>
                            <li class="sp-contact-phone">
                                <span class="fa fa-phone" aria-hidden="true"></span>
                                <a href="tel:{{configuration.telephone}}">{{configuration.telephone}}</a>
                            </li>
                            <li class="sp-contact-address">
                                <span class="fa fa-map-o" aria-hidden="true"></span>
                                Adresse {{configuration.adresse}}
                            </li>
                        </ul>
                    </div>
                </div>
                <div id="sp-top2" class="col-lg-4">
                    <div class="sp-column text-center text-lg-right">
                        <ul class="social-icons">
                            {% if configuration.facebook|default(null) %}
                            <li class="social-icon-facebook">
                                <a target="_blank" href="{{configuration.facebook}}" aria-label="facebook">
                                    <span class="fa fa-facebook" aria-hidden="true"></span>
                                </a>
                            </li>
                            {% endif %}
                            {% if configuration.twitter|default(null) %}
                            <li class="social-icon-twitter">
                                <a target="_blank" href="{{configuration.twitter}}" aria-label="twitter">
                                    <span class="fa fa-twitter" aria-hidden="true"></span>
                                </a>
                            </li>
                            {% endif %}
                            {% if configuration.googleplus|default(null) %}
                            <li class="social-icon-google-plus">
                                <a target="_blank" href="{{configuration.googleplus}}" aria-label="Google Plus">
                                    <span class="fa fa-google-plus" aria-hidden="true"></span>
                                </a>
                            </li>
                            {% endif %}
                            {% if configuration.pinterest|default(null) %}
                            <li class="social-icon-pinterest">
                                <a target="_blank" href="{{configuration.pinterest}}" aria-label="Pinterest">
                                    <span class="fa fa-pinterest" aria-hidden="true"></span>
                                </a>
                            </li>
                            {% endif %}
                            {% if configuration.linkedin|default(null) %}
                            <li class="social-icon-linkedin">
                                <a target="_blank" href="{{configuration.linkedin}}" aria-label="LinkedIn">
                                    <span class="fa fa-linkedin" aria-hidden="true"></span>
                                </a>
                            </li>
                            {% endif %}
                            {% if configuration.instagram|default(null) %}
                            <li class="social-icon-instagram">
                                <a target="_blank" href="{{configuration.instagram}}" aria-label="Instagram">
                                    <span class="fa fa-instagram" aria-hidden="true"></span>
                                </a>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>