{{ form_start(form) }}
	<div class="form-body">
		<div class="row">
			<div class="col-md-6">
				<div class="form-group {% if form_errors(form.titre)|default(null) %} has-error {% endif %}">
        			{{ form_help(form.titre) }}
					<label class="control-label mb-10">Titre</label>
					{{ form_widget(form.titre, {'attr': {'class': 'form-control'}}) }}
					<span class="help-block"> {{ form_errors(form.titre) }}</span> 
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					<label class="control-label mb-10">Lieu</label>
					{{ form_widget(form.place, {'attr': {'class': 'form-control'}}) }}
					<span class="help-block"> {{ form_errors(form.place) }} </span> 
				</div>
			</div>
		</div>
		<div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label mb-10">Début</label>
                    <div class='input-group date' id='datetimepicker1'>
                        {{ form_widget(form.dateDebut, {'attr': {'class': 'form-control'}}) }}
                        <span class="input-group-addon">
                            <span class="fa fa-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label mb-10">Fin</label>
                    <div class='input-group date' id='datetimepicker2'>
                        {{ form_widget(form.dateFin, {'attr': {'class': 'form-control'}}) }}
                        <span class="input-group-addon">
                            <span class="fa fa-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label mb-10">Images</label>
                    <ul class="images" data-prototype="{{ form_widget(form.images.vars.prototype)|e('html_attr') }}">
                        {# iterate over each existing tag and render its only field: name #}
                        {% for index, image in form.images %}
                            <li>
                                {% if evenement.images[index] is defined and evenement.images[index] is not null %}
                                <img src="{{ asset('images/uploads/'~evenement.images[index].imageName) }}" width="30px" height="30px">
                                {% endif %}
                                {{ form_widget(image.imageFile) }}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-12">
                <div class="form-group {% if form_errors(form.description)|default(null) %} has-error {% endif %}">
                    <label class="control-label mb-10">Description</label>
                    <span class="help-block"> {{ form_errors(form.description) }} </span> 
                    {{ form_widget(form.description, {'attr': {'class': 'form-control ckeditor'}}) }}
                </div>
            </div>
        </div>
	</div>
	<div class="form-actions mt-10">
		<button type="submit" class="btn btn-success  btn-icon left-iocn mr-10"><i class="fa fa-save"></i>{{ button_label|default('Creer') }}</button>
		{# <button type="button" class="btn btn-default">Cancel</button> #}
	</div>
{{ form_end(form) }}

