{# templates/backend/projet/edit.html.twig #}

{% extends 'backend/layout.html.twig' %}

{% block titre %}NeosysCMS - Admin - Modifier Projet{% endblock %}

{% block main_content %}

<div class="container">
    <!-- Title -->  
    <div class="row heading-bg">
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
          <h5 class="txt-dark">Modifier projet[{{projet.id}}]</h5>
        </div>
        <!-- Breadcrumb -->
        <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
          <ol class="breadcrumb">
            <li><a href="{{ path('admin_dashboard') }}">Tableau de bord</a></li>
            <li><a href="{{ path('admin_projet_index') }}">Projets</a></li>
            <li class="active"><span>Modifier Projet[{{projet.id}}]</span></li>
          </ol>
        </div>
        <!-- /Breadcrumb -->
    </div>
    <!-- /Title -->

    <!-- Row -->
    <div class="row">
    	<div class="col-md-12">
    		<div class="well well-sm card-view">
				<a href="{{ path('admin_projet_index') }}" class="btn btn-xs btn-icon left-icon btn-primary"><i class="fa fa-arrow-left"></i>Retour a la liste</a>
			</div>
    	</div>
    </div>
    <div class="row">
    	<div class="col-sm-12 col-xs- col-md-9 col-lg-9">
    		{% for message in app.flashes('succes') %}
		    	<div class="alert alert-warning alert-dismissable">
					<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
					<i class="zmdi zmdi-alert-circle-o pr-15 pull-left"></i><p class="pull-left">{{ message }}.</p>
					<div class="clearfix"></div>
				</div>
			{% endfor %}

    		<div class="well well-sm card-view">
    			<h6 class="mb-15">Formulaire de modification</h6>
				<div class="form-wrap">
					{{ include('backend/projet/_form_edit.html.twig', {'button_label': 'Enregistrer'}) }}		
				</div>
			</div>
    	</div>

    	<div class="col-sm-12 col-xs-12 col-md-3 col-lg-3">
    		<div class="well well-sm card-view">
				<label class="txt-dark">Image</label>
				<p style="text-align:center">
				{% if projet.imageSize <= 0 %}
                <img src="{{ asset('images/default.png') }}" width="70%" height="auto">
                {% else %}
                <img src="{{ asset('images/projets/') }}{{ projet.imageName }}" width="70%" height="auto">
                {% endif %}
                </p>
                <p>
                <label class="txt-dark">Cree par</label>
                </p>
				<p>
				{{ projet.createdBy.nom }} {{ projet.createdBy.prenom }}
				</p>
                <p>
                <label class="txt-dark">Cree le</label>
                </p>
				<p>
				{{ projet.createdAt ? projet.createdAt|date('d/m/Y H:i:s') : '' }}
				</p>
                <p>
                <label class="txt-dark">Modifie le</label>
                </p>
				<p>
				{{ projet.updatedAt ? projet.updatedAt|date('d/m/Y H:i:s') : '' }}
				</p>
                <hr class="light-grey-hr">
                {{ include('backend/projet/_delete_form.html.twig') }}
			</div>
    	</div>
    </div>
	<!-- /Row -->
</div>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script type="text/javascript">
	    $(function() {
	    	"use strict";
	        $('textarea.ckeditor').ckeditor();

			/* Select2 Init*/
			$(".select2").select2();
	    });
	</script>
{% endblock %}

