{{ form_start(form) }}
	<div class="form-body">
		<div class="row">
			<div class="col-md-12">
				<div class="form-group">
					<label class="control-label mb-10">Mot de passe</label>
					{{ form_widget(form.password.first, {'attr': {'class': 'form-control'}}) }}
					<span class="help-block"> {{ form_errors(form.password.first) }} </span>
					<label class="control-label mb-10">Retapez le mot de passe</label>
					{{ form_widget(form.password.second, {'attr': {'class': 'form-control'}}) }}
					<span class="help-block"> {{ form_errors(form.password.second) }} </span>
				</div>
			</div>
		</div>
		<!-- /Row -->
	</div>
	<div class="form-actions mt-10">
		<button type="submit" class="btn btn-success  btn-icon left-iocn mr-10"><i class="fa fa-save"></i>{{ button_label|default('Reinitialiser') }}</button>
		{# <button type="button" class="btn btn-default">Cancel</button> #}
	</div>
{{ form_end(form) }}