{# templates/backend/user/edit.html.twig #}

{% extends 'backend/layout.html.twig' %}

{% block titre %}NeosysCMS - Admin - Modifier Utilisateur{% endblock %}

{% block main_content %}

<div class="container">
    <!-- Title -->  
    <div class="row heading-bg">
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
          <h5 class="txt-dark">Modifier utilisateur[{{user.id}}]</h5>
        </div>
        <!-- Breadcrumb -->
        <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
          <ol class="breadcrumb">
            <li><a href="{{ path('admin_dashboard') }}">Tableau de bord</a></li>
            <li><a href="{{ path('admin_user_index') }}">Utilisateurs</a></li>
            <li class="active"><span>Modifier Utilisateur[{{user.id}}]</span></li>
          </ol>
        </div>
        <!-- /Breadcrumb -->
    </div>
    <!-- /Title -->

    <!-- Row -->
    <div class="row">
    	<div class="col-md-12">
    		<div class="well well-sm card-view">
				<a href="{{ path('admin_user_index') }}" class="btn btn-xs btn-icon left-icon btn-primary"><i class="fa fa-arrow-left"></i>Retour a la liste</a>
			</div>
    	</div>
    </div>
    <div class="row">
    	<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
    		{% for message in app.flashes('succes') %}
		    	<div class="alert alert-warning alert-dismissable">
					<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
					<i class="zmdi zmdi-alert-circle-o pr-15 pull-left"></i><p class="pull-left">{{ message }}.</p>
					<div class="clearfix"></div>
				</div>
			{% endfor %}

    		<div class="well well-sm card-view">
				<div class="form-wrap">
					{{ include('backend/user/_form_edit.html.twig', {'button_label': 'Enregistrer'}) }}		
				</div>
			</div>
    	</div>

    	<div class="col-sm-12 col-xs-12 col-md-3 col-lg-3">
    		<div class="well well-sm card-view">
				<label class="txt-dark">Image</label>
				<p style="text-align:center">
				{% if user.imageSize <= 0 %}
                <img src="{{ asset('images/users/default.png') }}" width="70%" height="auto">
                {% else %}
                <img src="{{ asset('images/users/') }}{{ user.imageName }}" width="70%" height="auto">
                {% endif %}
                </p>
                <p>
                <label class="txt-dark">Cree le</label>
                </p>
				<p>
				{{ user.createdOn ? user.createdOn|date('d/m/Y H:i:s') : '' }}
				</p>
                <p>
                <label class="txt-dark">Modifie le</label>
                </p>
				<p>
				{{ user.updatedOn ? user.updatedOn|date('d/m/Y H:i:s') : '' }}
				</p>
                <button class="btn btn-primary btn-block">
                    <a href="{{ path('admin_user_reset_password', {'id': user.id}) }}" style="color:white">Reinitialiser mot de passe</a>
                </button>
                <hr class="light-grey-hr">
                {{ include('backend/user/_delete_form.html.twig') }}
			</div>
    	</div>
    </div>
	<!-- /Row -->
</div>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script type="text/javascript">
	    $(function() {
	    	"use strict";
	        $('textarea.ckeditor').ckeditor();
	    });
	</script>
{% endblock %}

