{# templates/backend/user/new.html.twig #}

{% extends 'backend/layout.html.twig' %}

{% block titre %}NeosysCMS - Admin - Reinitialiser mot de passe{% endblock %}

{% block main_content %}

<div class="container">
    <!-- Title -->  
    <div class="row heading-bg">
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
          <h5 class="txt-dark">Reinitialisation du mot de passe</h5>
        </div>
        <!-- Breadcrumb -->
        <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
          <ol class="breadcrumb">
            <li><a href="{{ path('admin_dashboard') }}">Tableau de bord</a></li>
            <li><a href="{{ path('admin_user_index') }}">Utilisateurs</a></li>
            <li class="active"><span>Reinitialisation du mot de passe</span></li>
          </ol>
        </div>
        <!-- /Breadcrumb -->
    </div>
    <!-- /Title -->

    <!-- Row -->
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-default card-view">
				<div class="panel-heading">
					<div class="pull-left">
						<h6 class="txt-dark">
							<a href="{{ path('admin_user_edit', {'id': user.id}) }}" class="btn btn-xs btn-icon left-icon btn-warning"><i class="fa fa-arrow-left"></i>Retour a la modification</a>
						</h6>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="panel-wrapper collapse in">
					<div class="panel-body">
						<div class="row">
							<div class="col-sm-4 col-xs-4 col-sm-offset-4">
								<div class="form-wrap">
									{{ include('backend/user/_form_reset_password.html.twig') }}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>		
		</div>
	</div>
	<!-- /Row -->
</div>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script type="text/javascript">
	    $(function() {
	        
	    });
	</script>
{% endblock %}
