{# templates/backend/document/index.html.twig #}

{% extends 'backend/layout.html.twig' %}

{% block titre %}NeosysCMS - Admin - Document{% endblock %}

{% block main_content %}

<div class="container">
    <!-- Title -->  
    <div class="row heading-bg">
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
          <h5 class="txt-dark">Documents</h5>
        </div>
        <!-- Breadcrumb -->
        <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
          <ol class="breadcrumb">
            <li><a href="{{ path('admin_dashboard') }}">Tableau de bord</a></li>
            <li class="active"><span>Documents</span></li>
          </ol>
        </div>
        <!-- /Breadcrumb -->
    </div>
    <!-- /Title -->
    
    <!-- Row -->
    <div class="row">
        <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 col-lg-offset-2">
            <div class="panel panel-default card-view">
                <div class="panel-wrapper collapse in">
                    <div class="panel-heading">
                        <div class="pull-left">
                            <h6 class="panel-title txt-dark"><a href="{{ path('admin_document_new') }}" class="btn btn-success btn-sm btn-icon left-icon"><i class="fa fa-upload"></i>Importer</a></h6>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="panel-body">
                        {% for message in app.flashes('succes') %}
                        <div class="alert alert-success alert-dismissable">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            <i class="zmdi zmdi-check pr-15 pull-left"></i><p class="pull-left">{{ message }}.</p>
                            <div class="clearfix"></div>
                        </div>
                        {% endfor %}
                        {% for message in app.flashes('suppression') %}
                            <div class="alert alert-danger alert-dismissable">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                <i class="fa fa-trash pr-15 pull-left"></i><p class="pull-left">{{ message }}.</p>
                                <div class="clearfix"></div>
                            </div>
                        {% endfor %}
                        <div class="table-responsive">
                            <table id="myTable1" class="table table-hover table-striped display mb-0" >
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Nom du document</th>
                                        <th>Lien</th>
                                        <th class="text-center">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for document in documents %}
                                    <tr>
                                        <td>{{ document.id }}</td>
                                        <td>{{ document.nom }}</td>
                                        <td>
                                        <a class="text-primary" target="_blank" href="{{ asset('/uploads/documents/') }}{{ document.document.fileName }}">Lien</a>
                                        <!-- <button>Copier</button> -->
                                        </td>
                                        <td class="text-center">
                                            <form method="post" action="{{ path('admin_document_delete', {'id': document.id}) }}" onsubmit="return confirm('Etes-vous sur de vouloir supprimer ce document?');">
                                                <input type="hidden" name="_method" value="DELETE">
                                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ document.id) }}">
                                                <button class="btn btn-danger btn-xs btn-icon left-icon"><i class="fa fa-trash"></i></button>
                                            </form>
                                        </td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td colspan="4">Aucun document trouvé</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>ID</th>
                                        <th>Nom du document</th>
                                        <th>Lien</th>
                                        <th class="text-center">Actions</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>  
        </div>
    </div>
    <!-- /Row -->
</div>
{% endblock %}

{% block javascript %}
    {{ parent() }}

    <!-- Data table JavaScript -->
    <script src="{{ asset('theme/vendors/bower_components/datatables/media/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('theme/vendors/bower_components/datatables.net-buttons/js/dataTables.buttons.min.js') }}"></script>
    <script src="{{ asset('theme/vendors/bower_components/datatables.net-responsive/js/dataTables.responsive.min.js') }}"></script>
    <script src="{{ asset('theme/zapily/ltr/dist/js/responsive-datatable-data.js') }}"></script>
    
{% endblock %}
