<h3>Ouverture du compte</h3>
<p>Bonjour Mr/Mme {{client.nom}} {{client.prenom}}</p>
<p>Vos informations de connexion sont les suivantes:</p>
<p>Login: {{client.login}} <br>
Mot de passe: {{password}}<br>
Numero de compte: {{compte.numero}}
</p>
<p>Vous pouvez modifier ce mot de passe dans votre profile!</p>