{# templates/backend/partenaire/new.html.twig #}

{% extends 'backend/layout.html.twig' %}

{% block titre %}NeosysCMS - Admin - Nouveau Partenaire{% endblock %}

{% block main_content %}

<div class="container">
    <!-- Title -->  
    <div class="row heading-bg">
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
          <h5 class="txt-dark">Nouveau partenaire</h5>
        </div>
        <!-- Breadcrumb -->
        <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
          <ol class="breadcrumb">
            <li><a href="{{ path('admin_dashboard') }}">Tableau de bord</a></li>
            <li><a href="{{ path('admin_partenaire_index') }}">Partenaires</a></li>
            <li class="active"><span>Nouveau Partenaire</span></li>
          </ol>
        </div>
        <!-- /Breadcrumb -->
    </div>
    <!-- /Title -->

    <!-- Row -->
    <div class="row">
    	<div class="col-md-12">
    		<div class="well well-sm card-view">
				<a href="{{ path('admin_partenaire_index') }}" class="btn btn-xs btn-icon left-icon btn-primary"><i class="fa fa-arrow-left"></i>Retour a la liste</a>
			</div>
    	</div>
    </div>
    <div class="row">
    	<div class="col-sm-9 col-xs-9">
    		{% for message in app.flashes('succes') %}
		    	<div class="alert alert-warning alert-dismissable">
					<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
					<i class="zmdi zmdi-alert-circle-o pr-15 pull-left"></i><p class="pull-left">{{ message }}.</p>
					<div class="clearfix"></div>
				</div>
			{% endfor %}

    		<div class="well well-sm card-view">
				<div class="form-wrap">
					{{ include('backend/partenaire/_form.html.twig', {'button_label': 'Créer', 'button_type': 'btn-success'}) }}		
				</div>
			</div>
    	</div>
    </div>
	<!-- /Row -->
</div>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script type="text/javascript">
	    $(function() {
	    	"use strict";
	        $('textarea.ckeditor').ckeditor();
	    });
	</script>
{% endblock %}

